body {
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.quiz-container {
    margin-top: 40px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 75%;
    height: 65%;
}

#quiz {
    margin-top: 20px;
}

.question {
    margin-top: 10px;
}

.answers li {
    margin-bottom: 5px;
    margin: 0 10px;
}

.list-input {
    float: left !important;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
}

#username-container {
    text-align: center;
    margin-bottom: 20px;
}

#results img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

button#next-question {
    background-color: #28a745;
    margin-top: 10px;
}

button#next-question:hover {
    background-color: #218838;
}

.answers {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2px;
    padding: 10px 0;
}

.answers img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s ease;
}

.answers img:hover {
    border-color: #007bff;
}

.answers img.selected {
    border-color: #007bff;
}

@media screen and (max-width: 768px) {
    .answers {
        justify-content: space-between;
    }

    .answers img {
        width: 80px;
        height: 80px;
    }

    .quiz-container {
        height: max-content;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 425px) {
    .answers {
        flex-direction: column;
        align-items: center;
    }

    .answers img {
        width: 100px;
        height: 100px;
    }

    .quiz-container {
        height: max-content;
        margin-bottom: 20px;
    }
}